In [106]:
import numpy as np
import pandas as pd

In [107]:
groups = [['SUNPHARMA.NS', 'TATAMOTORS.NS', 'TCS.NS', 'TECHM.NS', 'WIPRO.NS', 'HCLTECH.NS', 'INFY.NS'],
          ['MARUTI.NS', 'POWERGRID.NS', 'SBIN.NS', 'AXISBANK.NS', 'ICICIBANK.NS'],
          ['NESTLEIND.NS', 'TITAN.NS', 'ULTRACEMCO.NS', 'ASIANPAINT.NS', 'BAJFINANCE.NS', 'BAJAJFINSV.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS', 'INDUSINDBK.NS', 'ITC.NS', 'KOTAKBANK.NS'],
          ['RELIANCE.NS', 'JSWSTEEL.NS']]

In [108]:
master_macd = pd.DataFrame()

In [109]:
temp = pd.read_csv('/Users/hitengoel/Machine Learning/data analysis(technical indiactors)/data-analysis-with-technical-indicators/all_macd_csv/ASIANPAINT_MACD.csv')
master_macd['Date'] = temp['Date']
master_macd

            Date
0     2011-01-03
1     2011-01-04
2     2011-01-05
3     2011-01-06
4     2011-01-07
...          ...
3199  2023-12-22
3200  2023-12-26
3201  2023-12-27
3202  2023-12-28
3203  2023-12-29

[3204 rows x 1 columns]

In [110]:
for i in range(len(groups)):
    for j in range(len(groups[i])):
        temp = pd.read_csv('/Users/hitengoel/Machine Learning/data analysis(technical indiactors)/data-analysis-with-technical-indicators/all_macd_csv/' + (groups[i][j])[:-3] + '_MACD.csv')
        master_macd[groups[i][j]] = temp['Trade Signal']

In [111]:
master_macd

,Date,SUNPHARMA.NS,TATAMOTORS.NS,TCS.NS,TECHM.NS,WIPRO.NS,HCLTECH.NS,INFY.NS,MARUTI.NS,POWERGRID.NS,...,ASIANPAINT.NS,BAJFINANCE.NS,BAJAJFINSV.NS,HDFCBANK.NS,HINDUNILVR.NS,INDUSINDBK.NS,ITC.NS,KOTAKBANK.NS,RELIANCE.NS,JSWSTEEL.NS
0,2011-01-03,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2011-01-04,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2011-01-05,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2011-01-06,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2011-01-07,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3199,2023-12-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3200,2023-12-26,0,0,0,0,0,0,0,0,0,...,0,-1,0,0,0,0,0,0,0,0
3201,2023-12-27,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3202,2023-12-28,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3203,2023-12-29,0,0,0,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [112]:
prices = pd.read_csv('/Users/hitengoel/Machine Learning/data analysis(technical indiactors)/data-analysis-with-technical-indicators/Pair trading/Returns data/sensex_close.csv')

for i in range(1,len(prices.columns)):
    prices.columns.values[i] = prices.columns.values[i][:-7]

prices

,Date,M&M.NS,MARUTI.NS,NESTLEIND.NS,NTPC.NS,POWERGRID.NS,RELIANCE.NS,SBIN.NS,SUNPHARMA.NS,TATAMOTORS.NS,...,HCLTECH.NS,HDFCBANK.NS,HINDUNILVR.NS,ICICIBANK.NS,INDUSINDBK.NS,INFY.NS,ITC.NS,JSWSTEEL.NS,KOTAKBANK.NS,LT.NS
0,2011-01-03,354.620422,1290.611816,330.042328,103.102730,34.205589,435.470551,244.451538,222.953857,245.710617,...,84.377457,214.272614,250.432007,178.996750,245.397202,326.783081,84.445229,101.518600,226.530899,730.862915
1,2011-01-04,351.783600,1293.055542,334.839203,103.985962,34.240391,444.340057,236.958893,224.143433,243.823334,...,85.677994,210.243530,256.629883,172.617676,237.144684,328.965912,85.749603,99.524185,228.215866,729.054565
2,2011-01-05,347.190735,1278.303223,335.643555,103.648254,34.136005,443.803680,233.286163,223.296997,240.893860,...,87.758896,206.895676,260.468506,167.192352,230.932098,326.901215,86.860710,97.802521,222.467087,711.673218
3,2011-01-06,347.280792,1243.414551,329.865906,104.947121,34.449173,447.846588,227.153442,228.764481,236.800095,...,88.752892,208.648010,256.509827,164.706360,226.156754,328.654022,86.425919,93.715721,220.583893,693.000366
4,2011-01-07,333.344513,1213.232300,326.092957,102.375381,34.049000,439.513367,225.295456,225.721893,223.504761,...,86.439774,203.422287,250.352051,164.041885,213.499756,318.505707,83.334106,87.783630,215.677612,681.320557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3199,2023-12-22,1634.250000,10217.150391,2529.704590,300.772919,227.939011,2565.050049,636.750000,1236.600830,724.700012,...,1432.274536,1648.341187,2575.600098,994.299988,1562.349976,1562.900024,448.611328,855.299988,1860.500000,3477.949951
3200,2023-12-26,1662.250000,10270.650391,2549.010254,307.527405,229.512711,2578.050049,638.049988,1240.428955,719.549988,...,1427.819336,1659.784912,2584.750000,995.099976,1570.800049,1543.949951,449.843231,852.299988,1886.849976,3490.050049
3201,2023-12-27,1687.949951,10288.500000,2564.805420,304.001160,230.201187,2586.850098,648.549988,1245.350830,740.900024,...,1441.430298,1680.354126,2608.300049,1002.250000,1597.449951,1567.099976,450.483826,875.900024,1902.349976,3544.000000
3202,2023-12-28,1734.449951,10271.599609,2617.601562,311.798615,235.168152,2605.550049,651.400024,1254.995972,753.900024,...,1441.821777,1682.277710,2633.800049,1005.900024,1610.550049,1562.650024,457.382507,880.799988,1921.349976,3518.050049
3203,2023-12-29,1729.400024,10302.349609,2650.548584,309.067017,233.299393,2584.949951,642.049988,1252.311157,779.950012,...,1435.603882,1686.223877,2663.949951,996.599976,1598.949951,1542.900024,455.411438,880.250000,1908.099976,3526.000000

In [113]:
intrade = []
orders = pd.DataFrame(columns=['Date', 'Stock', 'Order', 'Price'])

In [114]:
for k in groups:
    for i in range(len(master_macd)):
        row = master_macd.iloc[i]
        buys = 0
        sells = 0
        for j in range(1,len(row)):
            if((master_macd.columns[j] in k) and master_macd.iloc[i,j] == 1):
                buys += 1
            elif((master_macd.columns[j] in k) and master_macd.iloc[i,j] == -1):
                sells += 1
        if(buys < 1 or sells < 1):
            continue
        
        count = min(buys,sells)
        buy_stocks = []
        sell_stocks = []

        for j in range(1,len(row)):
            if((master_macd.columns[j] in k) and master_macd.iloc[i,j] == 1 and len(buy_stocks) < count):
                buy_stocks.append(master_macd.columns[j])
            elif((master_macd.columns[j] in k) and master_macd.iloc[i,j] == -1 and len(sell_stocks) < count):
                sell_stocks.append(master_macd.columns[j])
        

        for l in range(len(buy_stocks)):
            for m in range(len(sell_stocks)):
                if(buy_stocks[l] == '' or sell_stocks[m] == ''):
                    continue
                if([buy_stocks[l], sell_stocks[m]] in intrade):
                    continue
                
                for q in intrade:
                    if(buy_stocks[l] in q or sell_stocks[m] in q):
                        orders = pd.concat([orders,pd.DataFrame({'Date': [master_macd.iloc[i]['Date']], 'Stock': [q[0]], 'Order': ['Sell'], 'Price': [prices.iloc[i][q[0]]]})], ignore_index=True)
                        orders = pd.concat([orders,pd.DataFrame({'Date': [master_macd.iloc[i]['Date']], 'Stock': [q[1]], 'Order': ['Buy'], 'Price': [prices.iloc[i][q[1]]]})], ignore_index=True)
                        intrade.remove(q)
                
                intrade.append([buy_stocks[l], sell_stocks[m]])
                orders = pd.concat([orders,pd.DataFrame({'Date': [master_macd.iloc[i]['Date']], 'Stock': [buy_stocks[l]], 'Order': ['Buy'], 'Price': [prices.iloc[i][buy_stocks[l]]]})], ignore_index=True)
                orders = pd.concat([orders,pd.DataFrame({'Date': [master_macd.iloc[i]['Date']], 'Stock': [sell_stocks[m]], 'Order': ['Sell'], 'Price': [prices.iloc[i][sell_stocks[m]]]})], ignore_index=True)

                buy_stocks[l] = ''
                sell_stocks[m] = ''


    while(len(intrade) > 0):
        q = intrade.pop()
        orders = pd.concat([orders,pd.DataFrame({'Date': [master_macd.iloc[-1]['Date']], 'Stock': [q[0]], 'Order': ['Sell'], 'Price': [prices.iloc[-1][q[0]]]})], ignore_index=True)
        orders = pd.concat([orders,pd.DataFrame({'Date': [master_macd.iloc[-1]['Date']], 'Stock': [q[1]], 'Order': ['Buy'], 'Price': [prices.iloc[-1][q[1]]]})], ignore_index=True)

/var/folders/94/qzww3__j7w95pdc_5q59f29c0000gn/T/ipykernel_4854/3959200787.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  orders = pd.concat([orders,pd.DataFrame({'Date': [master_macd.iloc[i]['Date']], 'Stock': [buy_stocks[l]], 'Order': ['Buy'], 'Price': [prices.iloc[i][buy_stocks[l]]]})], ignore_index=True)

In [115]:
orders

            Date         Stock Order        Price
0     2011-04-07      TECHM.NS   Buy   146.584991
1     2011-04-07  SUNPHARMA.NS  Sell   201.884674
2     2011-05-26      TECHM.NS  Sell   128.415756
3     2011-05-26  SUNPHARMA.NS   Buy   201.633041
4     2011-05-26  SUNPHARMA.NS   Buy   201.633041
...          ...           ...   ...          ...
1403  2022-02-15   RELIANCE.NS   Buy  2216.678711
1404  2022-02-15   RELIANCE.NS   Buy  2216.678711
1405  2022-02-15   JSWSTEEL.NS  Sell   618.841064
1406  2023-12-29   RELIANCE.NS  Sell  2584.949951
1407  2023-12-29   JSWSTEEL.NS   Buy   880.250000

[1408 rows x 4 columns]

In [116]:
profit = 0

for i in range(len(orders)):
    if(orders.iloc[i]['Order'] == 'Buy'):
        profit -= orders.iloc[i]['Price']
    else:
        profit += orders.iloc[i]['Price']

profit

653.2920188903809

In [117]:
orders.to_csv('Orders_strat_1.csv', index=False)